@keyframes wave-motion {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
  }
}

.wave-motion {
  animation: wave-motion 10s ease-in-out infinite;
}
